<script id='tmpl_complaint' type="x-tmpl-mustache">
    <div id="{{pane_id}}" class="tab-pane {{active}}">
    <div class="complaint">
    <form class="form_complaint">
    <div class="col-md-6">	
    
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <input name="id" type="hidden" value="{{complaint_id}}">
                                        <label class="cc" for="cc">Chief Complaint</label>
                                        <input autocomplete="off" class="autosave first form-control" name="cc" type="text" value="{{cc}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <label for="ac">Associated Complaint</label>
                                        <input autocomplete="off" class="first form-control" name="ac" type="text" value="{{ac}}">
                                    </div>
                                </div>
                            </div>
	    <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <label for="onset">Location</label>
                                        <input autocomplete="off" class="first form-control" name="location" type="text" value="{{location}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <label for="onset">Onset</label>
                                        <input autocomplete="off" class="first form-control" name="onset" type="text" value="{{onset}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <label for="timing">Timing</label>
                                        <input autocomplete="off" class="first form-control" name="timing" type="text" value="{{timing}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                <div class="form-group">
                                        <label class="control-label">Intensity</label>
                                        <div class="controls">
                                        {{#wrapped}}    
                                          <label class="radio-inline"><input type="radio" name="intensity" value="0">0</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="1">1</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="2">2</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="3">3</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="4">4</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="5">5</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="6">6</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="7">7</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="8">8</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="9">9</label>
                                          <label class="radio-inline"><input type="radio" name="intensity" value="10">10</label>
                                         {{/wrapped}} 
                                        </div>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Character</label>
                                    <div class="form-group ">
                                        <input autocomplete="off" class="tagsinput form-control" name="character" type="text" value="{{character}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="aggravating">Aggravating factors</label>
                                    <div class="form-group ">
                                        
                                        <input autocomplete="off" class="tagsinput form-control" name="aggravating" type="text" value="{{aggravating}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="relieving">Relieving factors</label>
                                    <div class="form-group ">
                                        
                                        <input autocomplete="off" class="tagsinput form-control" name="relieving" type="text" value="{{relieving}}">
                                    </div>
                                </div>
                            </div>
                            
    
    </div><!--/col -->
    <div class="col-md-6">
    
      <div class="row">
       <div class="form-group">
	<label>Note</label>
	<input autocomplete="off" class="form-control" name="note" type="text" value="{{note}}">
       </div>	
      </div>
    </form>
      <div class='row'>
    <label>Diagnosis</label>
      <div class="panel panel-default">
        <div class="panel-body">
    <form class="form_diagnosis">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group ">
                                        <input name="patient" type="hidden" value="{{patient_id}}">
                                        <input name="encounter" type="hidden" value="{{encounter_id}}">
                                        <input class="complaint" name="complaint" type="hidden" value="{{complaint_id}}">
                                        <input class="diagnosis_id" name="diagnosis_id" type="hidden" value="{{diagnosis_id}}">
                                        
                                        <label class="" for="diagnosis">Working diagnosis</label>
                                        <div class="input-group">
                                        <input autocomplete="off" class="first form-control diagnosis" name="diagnosis" type="text" value="{{diagnosis}}" readonly>
                                        
                                        <span class="input-group-btn"><button class="btn btn-small btn-primary btn-open-diagnoses-modal" type="button">Diagnose</button></span>
                                      </div>
	                <div class='input-group'>
		<label>Comment</label>
		<input autocomplete="off" class="form-control comment" name="comment" type="text" value="{{diagnosis_comment}}">
	                </div>

                                    </div>
                                </div>
                                
                            </div>
    </form>
        </div>
      </div>
      </div><!--row-->
    </div><!--/col-->
    </div><!--/comlaint-->
    </div>
</script>
