@charset "utf-8";
/* CSS Document */
#whiteboard {
	
	/*position: relative;*/
    width: 1100px;
    height: 800px;
}

#imgLayer{
    width: inherit;
    height: inherit;
    /*position:absolute;
    left: 0px;
    top:0px;*/
    z-index: 1;
	

}

#drawingLayer{
    width: inherit;
    height: inherit;
    /*position: absolute;
    left: 0px;
    top:0px;*/
    z-index: 2;
	

}




