.top-buffer { margin-top:20px; }

.display-hidden {
    display: none;
}


.onlyprint {
	display:none;
}

.btn-large {
position: relative;
height: 30px;
width: auto!important;
background: #40454a;
color: #fff!important;
text-shadow: none!important;
padding: 5px 5px 10px 10px!important;
margin: 5px 3px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
font-size: 12px;
}

#menu-navbar {
	margin: 5px 5px 5px 16%;
	height: 30px;
}

.footer-fixed {
    position: fixed;
    width:100%;
}


.datepicker{z-index:1151 !important;}

#overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1999;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
    display: none;
}

