#calendar{
    padding-right: 0px;
}

#rightPanel{
    margin-top:-9px;    
    margin-left: 0px;
    padding-right: 0px;
    
    
}

#rightPanel .header {
   margin-bottom: 0.9em;
   
}

#rightPanel .content {
    
    border-top: solid #d7d7d7 1px;
    padding: 15px;
    background-color: #FFFFFF;
    
}

#rightPanel .content ul {
  list-style-type:none
}

#rightPanel .content .patients_search_results li:first-child {
  border-top: none;
}
#rightPanel .content .patients_search_results li {
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 6px;
  cursor: pointer;

}

#rightPanel .content .patients_search_results li a{
  color: #0098cb;
  text-decoration: none;

}

#rightPanel .content .patients_details h3 {
  
    min-height: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    min-width: 100px;
    float: left;
 

}

#rightPanel .content .patients_details span {
  min-width: 100px;
}

#rightPanel .content .appointment {
  border-style: solid;
  border-width: 0 0 0 10px;
  padding-left: 10px;
  cursor: pointer;
}

#rightPanel .content .appointment label {
  cursor: pointer;
}




.fc-icon-fa {
  font-family: FontAwesome;
}

.fc-messages {
    display: block;
    height: 30px;
    line-height: 24px;
    background: #00b3f0;
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -81px;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 57px;
    box-sizing: border-box;
    padding-top: 14px;
    font-size: 22px;
}

.modal.modal-wide .modal-dialog {
  width: 60%;
}

.modal.modal-medium .modal-dialog {
  width: 40%;
}

/*Payment modal*/

#paymentModal .modal-header {
    background-color: #303b42;
    color: #fff;
}
/*Event details modal*/
#eventDetails .modal-header {
  background-color: #f3f3f3;
  color:#0098cb;

}

#eventDetails .modal-header .modal-title {
  background-color: #f3f3f3;
  color:#0098cb;
  font-size: 1.4em;
  font-weight: 800;

}


#eventDetails .modal-header a {
  background-color: #f3f3f3;
  color:#0098cb;
  font-weight:bold;
  font-size: 0.8em;
}

#eventDetails .log {
   border-bottom: 1px solid #ccc;
   border-radius: 3px;
   padding: 20px;
}

#eventDetails .label {
  margin-right:10px;
}

#eventDetails .logDateTime {
  font-size: 16px;
  font-weight: bolder;
}

.btn.set_status.active{
  color:black;
}

.appointmentCancelled{
  text-decoration: line-through;
}

/*Add appointment modal*/

#editEvent .selected {
      margin-top: 0;
      -webkit-box-sizing: border-box;
      padding: 0 6px 0 6px;
      line-height: 30px;
      border-radius: 3px;
      color: #262626;
      background: #f8f8f8;
      border: 1px solid #ccc;
      
}

p.selected-patient-details{
  border-top : 1px solid #ddd;
}

/*Event styles*/

.fc-title {
    font-size: 1.1em !important;
    margin-left: 5px;
    color: black;
    font-weight: 900;
    
}


.fc-event {
  
  border-left-width: 0.7em;
  border-radius: 0;
  
    
}

.fc-event .event_insurance {
    font-size: 1.1em !important;
    margin-left: 5px;
    color: black;
    font-weight: 900;
}

.fc-event .fc-bg {
  opacity: 0.8; 
}



.run-long-pop-animation{animation:long-pop-animation 3000ms linear both}@keyframes long-pop-animation{0%{transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}6.57%{transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}6.67%{transform:matrix3d(.5, 0, 0, 0, 0, .5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}8.63%{transform:matrix3d(.691, 0, 0, 0, 0, .691, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}10.5%{transform:matrix3d(.968, 0, 0, 0, 0, .968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}12.37%{transform:matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}14.23%{transform:matrix3d(1.264, 0, 0, 0, 0, 1.264, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}16.29%{transform:matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}18.35%{transform:matrix3d(1.037, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}20.4%{transform:matrix3d(.907, 0, 0, 0, 0, .907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}22.36%{transform:matrix3d(.864, 0, 0, 0, 0, .864, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}24.42%{transform:matrix3d(.902, 0, 0, 0, 0, .902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}26.47%{transform:matrix3d(.981, 0, 0, 0, 0, .981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}28.53%{transform:matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}30.49%{transform:matrix3d(1.07, 0, 0, 0, 0, 1.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}34.6%{transform:matrix3d(1.009, 0, 0, 0, 0, 1.009, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}38.62%{transform:matrix3d(.964, 0, 0, 0, 0, .964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}46.75%{transform:matrix3d(1.019, 0, 0, 0, 0, 1.019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}54.87%{transform:matrix3d(.99, 0, 0, 0, 0, .99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}63%{transform:matrix3d(1.005, 0, 0, 0, 0, 1.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}71.13%{transform:matrix3d(.997, 0, 0, 0, 0, .997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}79.26%{transform:matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}87.39%{transform:matrix3d(.999, 0, 0, 0, 0, .999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}95.52%{transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}100%{transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)}}



.fc-body {
  background-color:white;
}

.icon-thumbs-down{
  float: right;
  color: #ff5454 !important;
}

.icon-thumbs-up{
  float: right;
  color: #24a916 !important;
}

.fc-head {
  background-color:white;
}

/*active day header color*/
th.fc-day-header.fc-widget-header.fc-wed.fc-today {
  background-color:#7a95a8;
}

/*get rid of the ugly yellow BG in week and day view*/
td.fc-day.fc-widget-content.fc-wed.fc-today.fc-state-highlight {
    background-color: grey;
}

.fc-unthemed td.fc-today {
 background-color: white;
}

.fc-bgevent{opacity:.1}
.fc-nonbusiness{background-color:#3b3b3b}


