.list-encounters .encounters {
    background: white;
    padding: 0;
    border-right: 1px solid #dbdee0;
    margin: -30px 15px -30px -15px
}

.list-encounters .encounter-list {
    padding: 30px 15px;
    height: 100%
}

.list-encounters .graph {
    height: 100%
}

.list-encounters .priority.high {
    background: #ffeded;
    margin-bottom: 1px
}

.list-list-encounters .priority.high span {
    background: #ff5454;
    padding: 2px 10px;
    color: white;
    display: inline-block;
    font-size: 12px
}

.list-list-encounters .priority.medium {
    background: #fef8eb;
    margin-bottom: 1px
}

.list-list-encounters .priority.medium span {
    background: #fabb3d;
    padding: 2px 10px;
    color: white;
    display: inline-block;
    font-size: 12px
}

.list-encounters .priority.low {
    background: #e4f5dc;
    margin-bottom: 1px
}

.list-encounters .priority.low span {
    background: #78cd51;
    padding: 2px 10px;
    color: white;
    display: inline-block;
    font-size: 12px
}

.list-encounters .encounter {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 1px;
    position: relative
}

.list-encounters .encounter .desc {
    display: inline-block;
    width: 75%;
    padding: 10px 10px;
    font-size: 12px
}

.list-encounters .encounter .desc .title {
    font-size: 18px;
    margin-bottom: 5px
}

.list-encounters .encounter .time {
    display: inline-block;
    width: 15%;
    padding: 10px 10px 10px 0;
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0
}

.list-encounters .encounter .time .date {
    font-size: 18px;
    margin-bottom: 5px
}

.list-encounters .encounter.last {
    border-bottom: 1px solid transparent
}

.list-encounters .encounter.high {
    border-left: 2px solid #ff5454
}

.list-encounters .encounter.medium {
    border-left: 2px solid #fabb3d
}

.list-encounters .encounter.low {
    border-left: 2px solid #78cd51
}

.list-encounters .timeline {
    width: auto;
    height: 100%;
    margin: 20px auto;
    position: relative
}

.list-encounters .timeline:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 4px;
    background: #e9ebec;
    left: 25%;
    margin-left: -2px
}

.list-encounters .timeslot {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 5px 0
}

.list-encounters .timeslot .encounter {
    position: absolute;
    width: 42%;
    padding-right: 18px;
    display: block;
    height: auto;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.list-encounters .timeslot .encounter span {
    border: 2px solid #67c2ef;
    background: #f1fafe;
    padding: 5px;
    display: block;
    font-size: 11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.list-encounters .timeslot .encounter span span.details {
    font-size: 16px;
    margin-bottom: 0px
}



.list-encounters .timeslot .encounter span span.remaining {
    font-size: 14px
}

.list-encounters .timeslot .encounter span span {
    border: 0;
    background: transparent;
    padding: 0
}

.list-encounters .timeslot .encounter .username {
    font-size: 16px;
}
.list-encounters .timeslot .encounter .arrow {
    position: absolute;
    top: 6px;
    right: 0;
    height: 20px;
    width: 20px;
    background: url("../../assets/img/timeline-left-arrow.png") no-repeat
}


.list-encounters .timeslot .complaint {
    position: absolute;
    width:18%;
    padding-right: 18px;
    display: block;
    height: auto;
    border: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.list-encounters .timeslot .complaint span {
    border: 2px solid #67c2ef;
    background: #f1fafe;
    padding: 5px;
    display: block;
    font-size: 11px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.list-encounters .timeslot .complaint span span.details {
    font-size: 16px;
    margin-bottom: 0px
}

.list-encounters .timeslot .complaint span span.diagnosis {
    font-size: 16px;
    margin-bottom: 0px
}



.list-encounters .timeslot .complaint span span.remaining {
    font-size: 14px
}

.list-encounters .timeslot .complaint span span {
    border: 0;
    background: transparent;
    padding: 0
}

.list-encounters .timeslot .complaint .arrow {
    position: absolute;
    top: 6px;
    right: 0;
    height: 20px;
    width: 20px;
    background: url("../../assets/img/timeline-left-arrow.png") no-repeat
}


.list-encounters .timeslot .icon {
    position: absolute;
    border: 2px solid #b2b8bd;
    background: #34383c;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    height: 30px;
    width: 30px;
    left: 25%;
    margin-left: -16px;
    color: white;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-shadow: none;
    z-index: 2;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.list-encounters .timeslot .time {
    background: #e9ebec;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 1px;
    left: 50%;
    padding: 5px 10px 5px 40px;
    z-index: 1;
    margin-top: 1px
}

.list-encounters .timeslot.alt .complaint {
    left: auto;
    right: auto;
    padding-left: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.list-encounters .timeslot.alt .encounter {
    left: auto;
    right: 13%;
    padding-left: 18px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.list-encounters .timeslot.alt .encounter .arrow {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background: url("../../../assets/img/timeline-right-arrow.png") no-repeat
}

.list-encounters .timeslot.alt .time {
    top: 1px;
    left: auto;
    right: 60%;
    padding: 5px 40px 5px 10px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .list-encounters encounter .desc {
        display: inline-block;
        width: 70%;
        padding: 10px 10px;
        font-size: 12px
    }
    .list-encounters encounter .desc .title {
        font-size: 16px;
        margin-bottom: 5px
    }
    .list-encounters encounter .time {
        display: inline-block;
        float: right;
        width: 20%;
        padding: 10px 10px;
        font-size: 12px;
        text-align: right
    }
    .list-encounters encounter .time .date {
        font-size: 16px;
        margin-bottom: 5px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .list-encounters .encounter {
        border-bottom: 1px solid #f9f9f9;
        margin-bottom: 1px
    }
    .list-encounters .encounter .desc {
        display: inline-block;
        width: 65%;
        padding: 10px 10px;
        font-size: 10px;
        margin-right: -20px
    }
    .list-encounters .encounter .desc .title {
        font-size: 14px;
        margin-bottom: 5px
    }
    .list-encounters .encounter .time {
        display: inline-block;
        float: right;
        width: 25%;
        padding: 10px 10px;
        font-size: 10px;
        text-align: right
    }
    .list-encounters .encounter .time .date {
        font-size: 14px;
        margin-bottom: 5px
    }
    .list-encounters .timeslot .encounter span {
        border: 2px solid #67c2ef;
        background: rgba(103, 194, 239, 0.1);
        padding: 5px;
        display: block;
        font-size: 10px
    }
    .list-encounters .timeslot .encounter span span {
        border: 0;
        background: transparent;
        padding: 0
    }
    .list-encounters .timeslot .encounter span span.details {
        font-size: 14px;
        margin-bottom: 0
    }
    .list-encounters .timeslot .encounter span span.remaining {
        font-size: 12px
    }
}

@media only screen and (max-width:767px) {
    .list-encounters .encounters {
        position: relative;
        margin: 0!important
    }
    .list-encounters .graph {
        position: relative;
        margin: 0!important
    }
    .list-encounters .encounter {
        border-bottom: 1px solid #f9f9f9;
        margin-bottom: 1px
    }
    .list-encounters .encounter .desc {
        display: inline-block;
        width: 65%;
        padding: 10px 10px;
        font-size: 10px;
        margin-right: -20px
    }
    .list-encounters .encounter .desc .title {
        font-size: 14px;
        margin-bottom: 5px
    }
    .list-encounters .encounter .time {
        display: inline-block;
        float: right;
        width: 25%;
        padding: 10px 10px;
        font-size: 10px;
        text-align: right
    }
    .list-encounters .encounter .time .date {
        font-size: 14px;
        margin-bottom: 5px
    }
    .list-encounters .timeslot .encounter span {
        padding: 5px;
        display: block;
        font-size: 10px
    }
    .list-encounters .timeslot .encounter span span {
        border: 0;
        background: transparent;
        padding: 0
    }
    .list-encounters .timeslot .encounter span span.details {
        font-size: 14px;
        margin-bottom: 0
    }
    .list-encounters .timeslot .encounter span span.remaining {
        font-size: 12px
    }
}